<div class="habitats">
  <% @habitats.each do |habitat| %>
    <div class="habitat">
      <a href="#teams" data-toggle="modal" ><button value=<%= habitat.id %>><%= habitat.identifier %></button></a>
    </div>
  <% end %>
</div>

<div class="mission">

</div>

<div class="modal fade" id="teams" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>Teams</p>
        <div class="teamSelectContainer"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.habitat').on('click', e=>{
    console.log(e.target.value)

    var url = '/api/teams/get_user_team_api?name=<%= session[:user_id] %>'

    fetch(url)
    .then(function(response) {
      return response.json();
    }).then(function(teams) {
      console.log(teams);
      for (var num in teams){
        console.log(teams[num]);
        var teamContainer = $('<tr>')
        var teamName = $('<td>')
        teamName.innerHTML = teams[num].team_id
        teamContainer.append()
      }
    }).catch(function(e) {
      console.log("Oops, error");
    });

    $('.teamSelectContainer')
  })
</script>
