<div class="habitats">
  <% @habitats.each do |habitat| %>
    <div class="habitat">
      <a href="#teams" data-toggle="modal" ><button value=<%= habitat.id %>><%= habitat.identifier %></button></a>
    </div>
  <% end %>
</div>

<div class="mission">

</div>

<div class="modal fade" id="teams" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="teams"></div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $('.habitat').on('click', e=>{
    $('.teams').html("");
    console.log(e.target.value)
    var destination = e.target.value
    var url = '/api/teams/get_user_team_api?name=<%= session[:user_id] %>'

    fetch(url)
    .then(function(response) {
      return response.json();
    }).then(function(teams) {
      console.log(teams);
      for (var num in teams){
        // console.log(teams[num]);
        // console.log(num);
        if(teams[num].start_time != null){
          continue;
        }
        var teamContainer = $('<tr>')
        var teamName = $('<td>')
        teamName.text(num)
        teamName.val(num)
        teamContainer.click(function(event){
          
          // console.log(event.target.value);
          // api/habitats/start_catch_pokemon_api
          url = '/api/habitats/start_catch_pokemon_api';
          data = {
            team_id:event.target.value,
            destination: destination
          };
          fetch(url, {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
              "Content-Type": "application/json"
            },
            credentials: "same-origin"
          }).then(function(response) {
            return response.json();
          })
          .then(function(team){
            console.log("success")
            alert(team.id + "is on the trip" )


          })
          .catch(function(error) {
            error.message //=> String
          })

        })
        teamContainer.append(teamName)
        $('.teams').append(teamContainer)
      } 
    }).catch(function(e) {
      console.log("Oops, error");
    });

    $('.teamSelectContainer')
  })

  var url = '/api/teams/get_user_team_api?name=<%= session[:user_id] %>'

  fetch(url)
  .then(function(response) {
    return response.json();
  }).then(function(teams) {
    console.log(teams);
    for(var num in teams){

      if(teams[num].start_time != null){
        console.log(teams[num].start_time);
        var time = Date.parse(teams[num].start_time)
        var timePeriod = new Date() - time;
        console.log(timePeriod)
        if(timePeriod > 10000){
          //get pokemon back
          url = 'api/habitats/catched_pokemon_api';
          data = {
            "team_id": teams[num].id,
            "destination": teams[num].destination
          };
          console.log(data)
          fetch(url, {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json"
              },
            credentials: "same-origin"
          }).then(function(response) {
            // console.log(response);
            return response.json();
          }).then(function(pokemon){
            console.log("you get "+ pokemon.identifier)
            alert("you get "+ pokemon.identifier)
          })
          .catch(function(error) {
            console.log(error.message);
          })
        }
      }
    }
  }).catch(function(error) {
    console.log(error.message);
  });

</script>
