<div class="habitats">
  <% @habitats.each do |habitat| %>
    <div class="habitat">
      <a href="#teams" data-toggle="modal" ><button value=<%= habitat.id %>><%= habitat.identifier %></button></a>
    </div>
  <% end %>
</div>

<div class="mission">

</div>

<div class="modal fade" id="teams" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="teams"></div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $('.habitat').on('click', e=>{
    $('.teams').html("");
    console.log(e.target.value)

    var url = '/api/teams/get_user_team_api?name=<%= session[:user_id] %>'

    fetch(url)
    .then(function(response) {
      return response.json();
    }).then(function(teams) {
      console.log(teams);
      for (var num in teams){
        // console.log(teams[num]);
        // console.log(num);
        var teamContainer = $('<tr>')
        var teamName = $('<td>')
        teamName.text(num)
        teamName.val(num)
        teamContainer.click(function(event){
          
          console.log(event.target.value);
          // api/habitats/start_catch_pokemon_api
          url = '/api/habitats/start_catch_pokemon_api';
          data = {
            team_id:event.target.value
          };
          fetch(url, {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
              "Content-Type": "application/json"
            },
            credentials: "same-origin"
          }).then(function(response) {
            return response.json();
          })
          .then(function(team){
            console.log("success")
            console.log(team.id + "is on the trip" )


          })
          .catch(function(error) {
            error.message //=> String
          })

        })
        teamContainer.append(teamName)
        $('.teams').append(teamContainer)
      } 
    }).catch(function(e) {
      console.log("Oops, error");
    });

    $('.teamSelectContainer')
  })

  var url = '/api/teams/get_user_team_api?name=<%= session[:user_id] %>'

  fetch(url)
  .then(function(response) {
    return response.json();
  }).then(function(teams) {
    console.log(teams);
    
  }).catch(function(e) {
    console.log("Oops, error");
  });

</script>
