<main class="habitat-container">
  <div class="habitats">
    <% @habitats.each do |habitat| %>
      <div class="habitat">
        <a href="#teams" data-toggle="modal" >
          <button data-habitat="<%= habitat.id %>">
            <%= habitat.identifier %>
          </button>
        </a>
      </div>
    <% end %>
  </div>

  <div class="mission">
  </div>
</main>

<div class="modal fade" id="teams" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose a team</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="teams"></div>
      </div>
      <div class="modal-footer">
        <a href="/teams">Edit teams</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.habitat button').on('click', e=>{
    $('.teams').html("");
    var destination = e.target.dataset.habitat;
    var destinationName = e.target.textContent;
    console.log(destination);
    var url = '/api/teams/?name=<%= session[:user_id] %>'

    fetch(url)
    .then(function(response) {
      return response.json();
    }).then(function(teams) {
      console.log(teams);
      for (var num in teams){
        // console.log(teams[num]);
        // console.log(num);
        if(teams[num].start_time != null){
          continue;
        }
        var teamBtn = $('<button data-dismiss="modal">')
        .text(teams[num].name)
        .val(num)
        .addClass('btn btn-primary')
        teamBtn.click(function(event){
          url = '/api/habitats/'+ destination;
          data = {
            team_id:event.target.value,
            destination: destination
          };
          fetch(url, {
            method: "PUT",
            body: JSON.stringify(data),
            headers: {
              "Content-Type": "application/json"
            },
            credentials: "same-origin"
          }).then(function(response) {
            return response.json();
          })
          .then(function(team){
            console.log("success");
            const feedback = `${team.name} is on the trip to ${destinationName}`;
            const $feedback = $('<div>')
              .text(feedback)
              .addClass('sidebar-tag')
              .attr('id', `team-${team.id}`)
            $('.mission').append($feedback);
            setTimeout(()=>{
              pokemonGet(team);
              $(`#team-${team.id}`).remove()
            },15000)
          })
          .catch(function(error) {
            error.message //=> String
          })
        })
        $('.teams').append(teamBtn)
      }
    }).catch(function(e) {
      console.log("Oops, error");
    });

    $('.teamSelectContainer')
  })

  const pokemonGet = team => {
    //get pokemon back
    url = "api/habitats/";
    data = {
      "team_id": team.id,
      "destination": team.destination
    };
    fetch(url, {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
          "Content-Type": "application/json"
        },
      credentials: "same-origin"
    }).then(function(response) {
      // console.log(response);
      return response.json();
    }).then(function(pokemon){
      console.log("you get "+ pokemon.identifier)
      alert("you get "+ pokemon.identifier)
    })
    .catch(function(error) {
      console.log(error.message);
    })
  }

  var url = '/api/teams/?name=<%= session[:user_id] %>'
  fetch(url)
  .then(function(response) {
    return response.json();
  }).then(function(teams) {
    console.log(teams);
    for(var num in teams){
      if(teams[num].start_time != null){
        console.log(teams[num].start_time);
        var time = Date.parse(teams[num].start_time)
        var timePeriod = new Date() - time;
        console.log(timePeriod)
        if(timePeriod > 15000){
          pokemonGet(teams[num]);
        } else {
          const feedback = `${teams[num].name} is on the trip to ${teams[num].destinationName}`;
          const $feedback = $('<div>')
            .text(feedback)
            .addClass('sidebar-tag')
            .attr('id', `team-${teams[num].id}`)
          $('.mission').append($feedback);
          setTimeout(()=>{
            pokemonGet(teams[num]);
            $(`#team-${teams[num].id}`).remove()
          },timePeriod)
        }
      }
    }
  }).catch(function(error) {
    console.log(error.message);
  });

</script>
