<% if !session[:user_id] %>
<form class="" action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Email</label>
  <input type="text" name="email" >
  <label for="">Password</label>
  <input type="password" name="password" >
  <button class="btn btn-primary">Log In</button>
</form>
<% end %>
<h1>Pokemon farm</h1>
<p>Pokemon farm is a online pokemon fan game.</p>

<h3>Game background</h3>
<img class="doctor" src="https://cdn.bulbagarden.net/upload/thumb/3/30/FireRed_LeafGreen_Professor_Oak.png/481px-FireRed_LeafGreen_Professor_Oak.png">
<p>Dr.Okido owns a Pokemon farm. However, he is very busy to do his research, so he cannot take care of his farm.</p>
<p>Pokemons in the farm are not very happy, Dr.Okido feel very sad, so he give his farm to his friend, the new game player.</p>
<p>Game player need to take care of the farm, feed Pokemon, catch and train new Pokemon and provide well trained Pokemons to other pokemon trainer to earn money.</p>

<h3>How to play</h3>
<h4>1. User can feed and train Pokemons in the farm</h4>
<p>the level of Pokemons can be increased with the time.</p>

<h4>2. Trade Pokemons</h4>
<p>User can trade well trained Pokemons to the market and let other pokemon trainer to adopt and earn money from them，User alse can buy different kinds of Poké Ball or rare Pokemons in the market.</p>

<h4>3. User can build a pokemon team</h4>
<p>This team will has 1 to 5 team members,they can help users to catch new pokemon.</p>
<p>A user can have multiple teams,but each pokemon can only belongs to one team.</p>

<h4>4. User can has a short field trip (about 2 hours) to catch new Pokemon in grasslands / hilly area / sea. </h4>
<p>If user do not have any Pokemon can Fly, he cannot access to hilly area.</p>
<p>If user do not have any Pokemon can swim, he cannot access to sea.</p>
<p>Take powerful Pokemons to do this field trip can increase user's posibility to catch rare Pokemon, but the more Pokemons he take, the less Pokemon he can catch in the trip.</p>

</div>
