// Place all the styles related to the habitats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.habitats {
  background-image: url("catch_page/habitat_map.jpg");
  width: 1000px;
	height: 500px;
	background-size: cover;
}
