// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buy_and_sell_boxes {
	display: flex;
	flex-direction: row;

}
.items_for_buy {
	border: 2px solid darkblue;
	width: 40%
}

.items_for_sell {
	border: 2px solid darkblue;
	width: 40%
}