// Place all the styles related to the species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.result {
  border: 1px solid black;
}

.pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}
